In [50]:
import pandas as pd
import numpy as np
import seaborn as sns

In [51]:
df = sns.load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [52]:
df.shape

(344, 7)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [54]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [55]:
#drop the na values
df.dropna(inplace=True)

In [56]:
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [57]:
#Feature Engineering
#One Hot Encoding Transforming  categorical data into numeric

In [58]:
df.sex.unique()

array(['Male', 'Female'], dtype=object)

In [59]:
pd.get_dummies(df['sex']).head()

   Female   Male
0   False   True
1    True  False
2    True  False
4    True  False
5   False   True

In [60]:
sex = pd.get_dummies(df['sex'],drop_first=True)
sex.head()

    Male
0   True
1  False
2  False
4  False
5   True

In [61]:
df.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [62]:
pd.get_dummies(df['island']).head()

   Biscoe  Dream  Torgersen
0   False  False       True
1   False  False       True
2   False  False       True
4   False  False       True
5   False  False       True

In [63]:
island = pd.get_dummies(df['island'],drop_first=True)
island.head(5)

   Dream  Torgersen
0  False       True
1  False       True
2  False       True
4  False       True
5  False       True

In [64]:
#Concatenate the above two data frames to original df

In [65]:
new_data = pd.concat([df,island,sex],axis=1)

In [66]:
new_data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Dream,Torgersen,Male
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,False,True,True
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,False,True,False
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,False,True,False
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,False,True,False
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,False,True,True

In [67]:
#Drop the Repeated Columns

In [68]:
new_data.drop(['sex','island'],axis=1,inplace=True)

In [69]:
new_data.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Dream,Torgersen,Male
0,Adelie,39.1,18.7,181.0,3750.0,False,True,True
1,Adelie,39.5,17.4,186.0,3800.0,False,True,False
2,Adelie,40.3,18.0,195.0,3250.0,False,True,False
4,Adelie,36.7,19.3,193.0,3450.0,False,True,False
5,Adelie,39.3,20.6,190.0,3650.0,False,True,True

In [70]:
#Create separate target variable

In [71]:
Y = new_data.species
Y.head()

0    Adelie
1    Adelie
2    Adelie
4    Adelie
5    Adelie
Name: species, dtype: object

In [72]:
Y.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [73]:
Y = Y.map({'Adelie': 0,'Chinstrap': 1,'Gentoo': 2}) #using map function to convert categorical values into numeric.
Y.head()

0    0
1    0
2    0
4    0
5    0
Name: species, dtype: int64

In [74]:
#Dropping the Target Variable: Species

In [75]:
new_data.drop('species',inplace=True,axis=1)

In [76]:
new_data.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Dream,Torgersen,Male
0,39.1,18.7,181.0,3750.0,False,True,True
1,39.5,17.4,186.0,3800.0,False,True,False
2,40.3,18.0,195.0,3250.0,False,True,False
4,36.7,19.3,193.0,3450.0,False,True,False
5,39.3,20.6,190.0,3650.0,False,True,True

In [77]:
X = new_data

In [78]:
#Splitting the data set into Training and Test Data

In [81]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

In [82]:
print('X_train',X_train.shape)
print('X_test',X_test.shape)
print('Y_train',Y_train.shape)
print('Y_test',Y_test.shape)

X_train (233, 7)
X_test (100, 7)
Y_train (233,)
Y_test (100,)

In [ ]:
#Training Random Forest Classifier on Training set

In [84]:
from sklearn.ensemble import RandomForestClassifier
classifier =  RandomForestClassifier(n_estimators = 5,criterion = 'entropy',random_state=0)
classifier.fit(X_train,Y_train)

RandomForestClassifier(criterion='entropy', n_estimators=5, random_state=0)

In [85]:
Y_pred = classifier.predict(X_test)
Y_pred

array([0, 0, 2, 0, 0, 0, 1, 2, 2, 1, 2, 0, 0, 1, 0, 0, 2, 0, 1, 0, 0, 0,
       2, 2, 2, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 1, 0, 1, 0, 2, 2, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0,
       2, 2, 1, 2, 2, 1, 2, 1, 0, 2, 0, 2, 0, 2, 1, 2, 2, 2, 1, 2, 1, 0,
       0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 2])

In [ ]:
#Confusion Matrix

In [88]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,accuracy_score

In [89]:
cm = confusion_matrix(Y_test,Y_pred)
print(cm)

[[48  0  0]
 [ 2 14  0]
 [ 0  0 36]]

In [92]:
accuracy_score(Y_test,Y_pred)*100

98.0

In [93]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98        48
           1       1.00      0.88      0.93        16
           2       1.00      1.00      1.00        36

    accuracy                           0.98       100
   macro avg       0.99      0.96      0.97       100
weighted avg       0.98      0.98      0.98       100

In [ ]:
#Try with Different number og trees and gini criteria

In [95]:
from sklearn.ensemble import RandomForestClassifier
classifier =  RandomForestClassifier(n_estimators = 7,criterion = 'gini',random_state = 0)
classifier.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=7, random_state=0)

In [96]:
Y_pred = classifier.predict(X_test)

In [97]:
accuracy_score(Y_test,Y_pred)

0.99

In [98]:
accuracy_score(Y_test,Y_pred)*100

99.0